

/* .main-container {
    height: 75vh;
    display: flex;
    align-content: center;
    justify-content: end;
    /* color: aqua; */
/* } */ */

/* .right-container {
    width: 20em;
    display: flex;
    justify-content: end;
} */

